* {
    box-sizing: border-box;
}

.robot-container {
    width: 350px;
    height: 600px;
    margin: auto;
    position: relative;
    background-image: url(https://picsum.photos/id/300/350/600);
}

.robot-antenna-top {
    width: 1em;
    height: 1em;
    border: 2px solid black;
    border-radius: 50%;
    margin: 50px auto 0px auto;
    background-color: rgb(128, 128, 128, 0.5);
    animation: vanish 100ms ease-in-out 0s infinite alternate;
}

.robot-antenna-outline {
    width: 14px;
    height: 0px;
    margin: 0px auto;
    border-bottom: 54px solid black;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: relative;
    z-index: 0;
    animation: vanish 100ms ease-in-out 0s infinite alternate;
}

.robot-antenna {
    width: 10px;
    height: 0px;
    margin-top: 0px;
    margin-left: -2px;
    border-bottom: 50px solid #808080;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    top: 2px;
    left: 0px;
    z-index: 0;
    animation: vanish 100ms ease-in-out 0s infinite alternate;
}

.robot-antenna-base {
    width: 40px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    margin: -5px auto 0px auto;
    background-color: #808080;
    z-index: 1;
    /* animation: vanish 100ms ease-in-out 0s infinite alternate; */
}

.robot-face-shape {
    width: 200px;
    height: 380px;
    border: 2px solid black;
    border-top-left-radius: 125px;
    border-top-right-radius: 125px;
    border-bottom-left-radius: 125px 20px;
    border-bottom-right-radius: 125px 20px;
    margin: 0px auto;
    position: relative;
    top: -20px;
    background-image: linear-gradient(
        90deg,
        #e6e6e6 0%,
        #808080 10%,
        #808080 90%,
        #e6e6e6 100%
    );
    z-index: 2;
}

.robot-eye-container {
    /* width: 300px;
    height: 100px; */
    width: 152%;
    height: 26.5%;
    border: 2px solid black;
    border-radius: 50px;
    position: absolute;
    top: 40%;
    left: -50px;
    background-color: #808080;
    z-index: 3;
    animation: shake 100ms linear 0s infinite;
}

.robot-eye-socket {
    width: 276px;
    height: 76px;
    /* border: 1px solid black; */
    border-radius: 38px;
    margin: 10px;
    background-color: black;
    z-index: 4;
    animation: color-change 500ms linear 0s infinite;
}

.robot-eye-left {
    width: 90px;
    height: 90px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    top: 5px;
    background-color: white;
    clip-path: polygon(0% 0%, 50% 0%, 100% 40%, 100% 100%, 0% 100%);
    z-index: 5;
}

.robot-pupil-left {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 31px;
    left: 31px;
    background-color: black;
    z-index: 6;
    animation: spin 2s linear 0s infinite;
}

.robot-eye-right {
    width: 90px;
    height: 90px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    right: 15%;
    top: 5px;
    background-color: white;
    clip-path: polygon(0% 100%, 0% 40%, 50% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 5;
}

.robot-eye-right:hover,
.robot-eye-left:hover {
    clip-path: polygon(0% 35%, 100% 35%, 100% 65%, 0% 65%);
}

.robot-pupil-right {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 33px;
    left: 33px;
    background-color: black;
    z-index: 6;
    animation: move-circle 4s linear 0s infinite;
}

.robot-eye-lid-top {
    width: 180px;
    height: 12px;
    border-bottom: 2px solid black;
    background-color: #808080;
    position: absolute;
    top: 0px;
    left: 20%;
    z-index: 6;
}

.robot-eye-lid-bottom {
    width: 180px;
    height: 12px;
    border-top: 2px solid black;
    background-color: #808080;
    position: absolute;
    bottom: 0px;
    left: 20%;
    z-index: 6;
}

.robot-mouth {
    width: 180px;
    height: 60px;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 70%;
    left: 10px;
    background-color: white;
}

.robot-teeth-middle {
    width: 100%;
    height: 33%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: absolute;
    top: 33%;
    animation: teeth-horizontal 200ms linear 0s infinite alternate;
}

.robot-teeth-left {
    width: 16.5%;
    height: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    position: absolute;
    left: 16.5%;
    animation: teeth-vertical 300ms linear 0s infinite alternate;
}

.robot-teeth-center {
    width: 1px;
    height: 58px;
    border: 1px solid black;
    position: absolute;
    left: 50%;
}

.robot-teeth-right {
    width: 16.5%;
    height: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    position: absolute;
    right: 16.5%;
    animation: teeth-vertical 400ms linear 0s infinite alternate;
}

/* Animation stuff */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

@keyframes teeth-horizontal {
    from {
        height: 33%;
        top: 33%;
    }
    to {
        height: 5%;
        top: 47.5%;
    }
}

@keyframes teeth-vertical {
    from {
        width: 16.5%;
    }
    to {
        width: 20%;
    }
}

@keyframes vanish {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes shake {
    0% {
        left: -50px;
    }
    25% {
        left: -52px;
    }
    50% {
        left: -50px;
    }
    75% {
        left: -48px;
    }
    100% {
        left: -50px;
    }
}

@keyframes color-change {
    0% {
        background-color: black;
    }
    25% {
        background-color: #500;
    }
    50% {
        background-color: #050;
    }
    75% {
        background-color: #005;
    }
    100% {
        background-color: black;
    }
}

@keyframes move-circle {
    0% {
        top: 31px;
        left: 11px;
    }
    8.33% {
        top: 41px;
        left: 13.68px;
    }
    16.66% {
        top: 48.32px;
        left: 21px;
    }
    25% {
        top: 51px;
        left: 31px;
    }
    33.33% {
        top: 48.32px;
        left: 41px;
    }
    41.66% {
        top: 41px;
        left: 48.32px;
    }
    50% {
        top: 31px;
        left: 51px;
    }
    58.33% {
        top: 21px;
        left: 48.32px;
    }
    66.66% {
        top: 13.68px;
        left: 41px;
    }
    75% {
        top: 11px;
        left: 31px;
    }
    83.33% {
        top: 13.68px;
        left: 21px;
    }
    91.66% {
        top: 21px;
        left: 13.68px;
    }
    100% {
        top: 31px;
        left: 11px;
    }
}
